img{
    max-width: 100%;
    height: auto;
    width: auto;
}

img#homeImage{
    display: flex;
}

h1#slogan{
    position: absolute;
    top: 30%;
    left: 100px;
    z-index: 1;
    font-size: 80px;
    max-width: 200px;
}

.container {
    position: relative;
}